header img {
    border-radius: 100%;
    width: 100px;
}

header {
    width: 100%;
    height: 25%;
    background: grey;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.toggleOptions1 {
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 25px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}

.toggleOptions:hover {
    font-size: 55px;
}

.options {
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0px;
    top: 0px;
    display: none;
}

.toggleOptions2 {
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 25px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}
